@import "_functions";
@import "_mixins";
@import "_variables";

.hero__banner__canada_overlay {
  min-height: 470px;
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    min-height: 610px;
  }

  &.hero__banner__canada_black {
    .background--canada {
      background-image: url("../images/background_black_mobile.svg");

      @include media-breakpoint-up('md') {
        background-image: url("../images/background_black_desktop.svg");
      }
    }
  }
  &.hero__banner__canada_white {
    color: var(--ylb-color-dark-grey-2, black);
    .background--canada {
      background-image: url("../images/background_white_mobile.svg");

      @include media-breakpoint-up('md') {
        background-image: url("../images/background_white_desktop.svg");
      }
    }
  }
  &.hero__banner__canada_red {
    .background--canada {
      background-image: url("../images/background_red_mobile.svg");

      @include media-breakpoint-up('md') {
        background-image: url("../images/background_red_desktop.svg");
      }
    }
  }

  .background--canada {
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    top: -30px;
    left: 0;
    background-size: 100% 150%;

    @include media-breakpoint-up('md') {
      width: 49%;
      top: 0;
      height: 100%;
      background-size: 100% 100%;
    }
  }

  .wrapper-content {
    margin-top: 330px;
    z-index: 2;
    position: relative;

    @include media-breakpoint-up('md') {
      margin-top: 0;
      background: none;
      position: static;
    }
  }

  .hero_banner-content {
    position: relative;
    z-index: 3;
  }

  .hero_banner-content {
    width: fit-content;
    max-width: 425px;
    margin: 0 auto 25px;

    @include media-breakpoint-up('md') {
      max-width: 480px;
      margin-left: 0;
    }

    .cta-wrapper {
      margin-top: 16px;

      .btn {
        font-size: 18px;
        line-height: 28px;
      }
    }

    h2 {
      font-size: 36px;
      margin-bottom: 8px;
      line-height: 40px;
      color: inherit;

      @include media-breakpoint-up('md') {
        max-width: 320px;
        margin-bottom: 16px;
        font-size: 48px;
        line-height: 55px;
      }
      @include media-breakpoint-up('xl') {
        max-width: unset;
      }
    }

    .hero_banner-body {
      font-size: 18px;
      line-height: 28px;


      @include media-breakpoint-up('md') {
        max-width: 70%;
      }

      @include media-breakpoint-up('xl') {
        max-width: 455px;
      }
    }
  }


  // Our darkened overlays.
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &.hero__gradient_vertical::before {
    opacity: .9;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50.45%, rgba(0, 0, 0, 0) 100%, #000000 100%);
    z-index: 2;
  }

  &.hero__gradient_horizontal::after {
    opacity: .5;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 2;
  }

  .field--name-field-background-image img,
  .hero_banner--img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
  }

  // AUDIO CONTROLS
  .hero_banner--audio-controls {
    background-color: rgba(#ffffff, .5);

    i,
    svg {
      font-size: 24px;
      width: 24px;
      height: auto;

      @media (min-width: 992px) {
        font-size: 36px;
      }

      &[class*="fa-volume"] {
        max-width: 50px;
      }
    }

    // Hide our play button
    &.is-playing #hero_banner--btn-play {
      display: none;
    }

    // Hide our pause button
    &:not(.is-playing) #hero_banner--btn-pause {
      display: none;
    }

    // Hide our mute button
    &.is-muted #hero_banner--btn-mute {
      display: none;
    }

    // Hide our mute button
    &:not(.is-muted) #hero_banner--btn-unmute {
      display: none;
    }
  }

  // YouTube Video
  .hero_banner-video,
  .hero_banner-image {
    position: absolute;
    width: 100%;
    height: 420px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @include media-breakpoint-up('md') {
      height: auto;
    }

    .field--name-field-background-image .contextual-region {
      position: static;
    }

    .hero_banner-video--youtube-player-wrapper {
      position: relative;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    }

    video,
    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      transform: translate(-50%, -50%);

      @media (min-aspect-ratio: 16/9) {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
      }
      @media (max-aspect-ratio: 16/9) {
        /* width = 100 / (9 / 16) = 177.777777 */
        width: 177.78vh;
      }
    }
  }

  .hero-banner-preloader {
    width: 60px;
    height: 60px;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);

    svg {
      width: 60px;
      height: auto;
    }
  }

}
