:root {
  --ylb-color-red-dark-canada: #A8052B;
  --ylb-color-rgb-red-dark-canada: 168, 5, 43;
  --ylb-color-red-canada: #E00034;
  --ylb-color-rgb-red-canada: 224, 0, 52;
  --ylb-color-grey-canada: #949599;
  --ylb-color-rgb-grey-canada: 148, 149, 153;
  --ylb-color-blue-canada: #0046AD;
  --ylb-color-rgb-blue-canada: 0, 70, 173;
  --ylb-color-purple-canada: #872D91;
  --ylb-color-rgb-purple-canada: 135, 45, 145;
  --ylb-color-green-canada: #11574E;
  --ylb-color-rgb-green-canada: 17, 87, 78;
}
